<head>
  <title>Moka Boka Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>