<template name="LogIn">
  <div class="row form-container">
    <div class="LogIn col s12 m10 offset-m1 white z-depth-1">
      {{#if currentUser}}
        <h1>Already Logged In</h1>
        <a href="/dashboard">Return to dashboard</a>
      {{else}}
        <form id="loginForm">
          <div class="row">
            <h4>System Log In</h4>
            <hr>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="UserName">Email Address *</label>
              <input type="email" id="UserName" name="UserName" class="validate">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="UserPass">Password *</label>
              <input type="password" id="UserPass" name="UserPass" class="validate">
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button type="submit" class="btn-large waves-effect waves-light">Log In</button>
            </div>
          </div>
        </form>
      {{/if}}
    </div>
  </div>
</template>