nav {
  background-color: $white;
  ul{
    a{
      color: $primary-purple;
    }
  }
  .brand-logo {
    top: -10px;
    padding-left: 10px;
  }
}
.button-collapse {
  i{
    color: $primary-purple;
  }
}