<template name="NewUsers">
  <div class="row form-container">
    <form class="col s12 m10 offset-m1 white z-depth-1" id="signUpForm">
      <div class="row">
        <h4>Add a New User</h4>
        <hr>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input type="text" name="signUpFirstName" class="validate" value="">
          <label for="signUpFirstName">First Name *</label>
        </div>
        <div class="input-field col s12 m6">
          <input type="text" name="signUpLastName" class="validate" value="">
          <label for="signUpLastName">Last Name *</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input type="email" name="signUpEmail" class="validate" value="">
          <label for="signUpEmail">Email Address *</label>
        </div>
        <div class="input-field col s12 m6">
          <input type="tel" name="signUpTel" class="validate" value="">
          <label for="signUpTel">Phone *</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input type="text" name="signUpPass" class="validate" value="">
          <label for="signUpPass">System Password *</label>
        </div>
        <div class="input-field col s12 m6">
          <select id="signUpAccount" name="signUpAccount" class="browser-default">
            <option selected disabled value="">Choose a Role *</option>
            <option value="administrator">Administrator</option>
            <option value="staff">Staff</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button type="submit" class="btn-large waves-effect waves-light">Add User</button>
        </div>
      </div>
    </form>
  </div>
</template>