<template name="Header">
  <nav>
    <div class="nav-wrapper">
      <a href="/dashboard" class="brand-logo">
        <img src="/images/logo.png" alt="Logo">
      </a>
  {{#if currentUser}}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/register">Add Users</a></li>
        <li><a class="waves-effect waves-light btn LogOut">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/register">Add Users</a></li>
        <li><a class="waves-effect waves-light btn LogOut">Logout</a></li>
      </ul>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
  {{/if}}
    </div>
  </nav>
</template>