//Buttons
.btn, .btn-large {
  background-color: $primary-purple;
  &:hover {
    background-color: $primary-purple-hover;
  }
  &:active {
    background-color: $primary-purple-hover;
  }
  &:focus {
    background-color: $primary-purple-hover;
  }
}