<template name="OrderList">
    <h4>Order List</h4>
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th>Order #</th>
          <th>Order Date</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Type</th>
          <th>Print Status</th>
          <th>Action</th>
        </tr>
      </thead>
      {{#if Template.subscriptionsReady}}
        <tbody>
        {{#each getOrders}}
          <tr>
            <td>{{orderId}}</td>
            <td>{{orderDate}}</td>
            <td>{{customerFirstName}}</td>
            <td>{{customerLastName}}</td>
            <td>{{customerEmail}}</td>
            <td>
              {{#if refund}}
                <span class="incomplete">Refund</span>
                {{else}}
                <span class="printed">Order</span>
              {{/if}}
            </td>
            <td>
              {{#if printStatus}}
                  <span class="printed">Printed</span>
                {{else}}
                  <span class="incomplete">Incomplete</span>
              {{/if}}
            </td>
            <td>
              <a href="/order/{{_id}}" class="waves-effect waves-light btn">Details</a>
            </td>
          </tr>
        {{/each}}
        </tbody>
        {{else}}
        {{> Loader}}
      {{/if}}
    </table>
</template>