<template name="CustomerList">
  <h4>Customer List</h4>
  <table class="striped responsive-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Order Count</th>
      <th>Total Spent</th>
      <th>Active</th>
      <th>Accepts Marketing</th>
    </tr>
    </thead>
    {{#if Template.subscriptionsReady}}
      <tbody>
      {{#each getCustomers}}
        <tr>
          <td>{{customerId}}</td>
          <td>{{first_name}}</td>
          <td>{{last_name}}</td>
          <td>{{email}}</td>
          <td>{{orders_count}}</td>
          <td>{{total_spent}}</td>
          {{#if active}}
            <td>true</td>
          {{else}}
            <td>false</td>
          {{/if}}
          {{#if accepts_marketing}}
            <td>true</td>
          {{else}}
            <td>false</td>
          {{/if}}
        </tr>
      {{/each}}
      </tbody>
    {{else}}
      {{> Loader}}
    {{/if}}
  </table>
</template>