<template name="OrderDetails">
  <h4>Details for Order: {{OrderInfo.orderId}}</h4>
  <a href="javascript:void(0)" id="downloadButton" class="waves-effect waves-light btn">Print Export</a>
  <a href="javascript:void(0)" class="waves-effect waves-light btn">Export Report</a>
  <a href="javascript:void(0)" class="waves-effect waves-light btn">Mark Printed</a>
  {{#if Template.subscriptionsReady}}

    <div class="row">
      <br>
      <table class="bordered responsive-table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Order Date</th>
            <th>Email</th>
            <th>Print Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{OrderInfo.customerFirstName}}</td>
            <td>{{OrderInfo.customerLastName}}</td>
            <td>{{OrderInfo.orderDate}}</td>
            <td>{{OrderInfo.customerEmail}}</td>
            <td>
              {{#if OrderInfo.printStatus}}
                <span class="printed">Printed</span>
              {{else}}
                <span class="incomplete">Incomplete</span>
              {{/if}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row order-attributes">
      <h5>Order Attributes:</h5>
      <table class="bordered responsive-table">
        <thead>
          <tr>
            {{#if OrderAtts.child1FirstName}}
            <th>Child 1 First</th>
            {{/if}}

            {{#if OrderAtts.child1Gender}}
            <th>Child 1 Gender</th>
            {{/if}}

            {{#if OrderAtts.child1Birthday}}
            <th>Child 1 Birthday</th>
            {{/if}}

            {{#if OrderAtts.child1HairColor}}
            <th>Child 1 Hair Color</th>
            {{/if}}

            {{#if OrderAtts.child1HairStyle}}
            <th>Child 1 Hair Style</th>
            {{/if}}

            {{#if OrderAtts.child1SkinTone}}
            <th>Child 1 Skin Tone</th>
            {{/if}}

            {{#if OrderAtts.child1FavoriteColor}}
            <th>Child 1 Fav Color</th>
            {{/if}}

            {{#if OrderAtts.child2FirstName}}
            <th>Child 2 First</th>
            {{/if}}

            {{#if OrderAtts.child2Gender}}
            <th>Child 2 Gender</th>
            {{/if}}

            {{#if OrderAtts.child2Birthday}}
            <th>Child 2 Birthday</th>
            {{/if}}

            {{#if OrderAtts.child2HairColor}}
            <th>Child 2 Hair Color</th>
            {{/if}}

            {{#if OrderAtts.child2HairStyle}}
            <th>Child 2 Hair Style</th>
            {{/if}}

            {{#if OrderAtts.child2SkinTone}}
            <th>Child 2 Skin Tone</th>
            {{/if}}

            {{#if OrderAtts.child2FavoriteColor}}
            <th>Child 2 Fav Color</th>
            {{/if}}

            {{#if OrderAtts.relationship1to2}}
            <th>Relationship 1 to 2</th>
            {{/if}}

            {{#if OrderAtts.relationship2to1}}
            <th>Relationship 2 to 1</th>
            {{/if}}

            {{#if OrderAtts.dedication}}
            <th>Dedication</th>
            {{/if}}

            {{#if OrderAtts.noteAtrImage}}
            <th>Image</th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          <tr>
            {{#if OrderAtts.child1FirstName}}
              <td>{{OrderAtts.child1FirstName}}</td>
            {{/if}}

            {{#if OrderAtts.child1Gender}}
              <td>{{OrderAtts.child1Gender}}</td>
            {{/if}}

            {{#if OrderAtts.child1Birthday}}
              <td>{{OrderAtts.child1Birthday}}</td>
            {{/if}}

            {{#if OrderAtts.child1HairColor}}
              <td>{{OrderAtts.child1HairColor}}</td>
            {{/if}}

            {{#if OrderAtts.child1HairStyle}}
              <td>{{OrderAtts.child1HairStyle}}</td>
            {{/if}}

            {{#if OrderAtts.child1SkinTone}}
              <td>{{OrderAtts.child1SkinTone}}</td>
            {{/if}}

            {{#if OrderAtts.child1FavoriteColor}}
              <td>{{OrderAtts.child1FavoriteColor}}</td>
            {{/if}}

            {{#if OrderAtts.child2FirstName}}
              <td>{{OrderAtts.child2FirstName}}</td>
            {{/if}}

            {{#if OrderAtts.child2Gender}}
              <td>{{OrderAtts.child2Gender}}</td>
            {{/if}}

            {{#if OrderAtts.child2Birthday}}
              <td>{{OrderAtts.child2Birthday}}</td>
            {{/if}}

            {{#if OrderAtts.child2HairColor}}
              <td>{{OrderAtts.child2HairColor}}</td>
            {{/if}}

            {{#if OrderAtts.child2HairStyle}}
              <td>{{OrderAtts.child2HairStyle}}</td>
            {{/if}}

            {{#if OrderAtts.child2SkinTone}}
              <td>{{OrderAtts.child2SkinTone}}</td>
            {{/if}}

            {{#if OrderAtts.child2FavoriteColor}}
              <td>{{OrderAtts.child2FavoriteColor}}</td>
            {{/if}}

            {{#if OrderAtts.relationship1to2}}
              <td>{{OrderAtts.relationship1to2}}</td>
            {{/if}}

            {{#if OrderAtts.relationship2to1}}
              <td>{{OrderAtts.relationship2to1}}</td>
            {{/if}}

            {{#if OrderAtts.dedication}}
              <td>{{OrderAtts.dedication}}</td>
            {{/if}}

            {{#if OrderAtts.noteAtrImage}}
              <td>{{OrderAtts.noteAtrImage}}</td>
            {{/if}}
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <h5>Order Items: ({{LineItems.count}})</h5>
    </div>
  {{#each LineItems}}
    <div class="row line-item">
      <h5>Book Id: {{lineItemId}}</h5>
      {{#if customImage}}
        <section class="col l4 m6 s12 details-left">
            <div class="col s12 custom-image">
              <img class="responsive-img" src="{{customImage}}" alt="Custom Image">
            </div>
        </section>
      {{/if}}
      <section class="col l8 m6 s12 details-right">
        <div class="col s12 ">
          <ul>
            {{#if name}}
              <li><strong>Name:</strong> {{name}}</li>
            {{/if}}
            {{#if price}}
              <li><strong>Price:</strong> ${{price}}</li>
            {{/if}}
            {{#if recurring}}
              <li><strong>Recurring:</strong> Yes</li>
              {{else}}
              <li><strong>Recurring:</strong> No</li>
            {{/if}}
            {{#if recurringTime}}
              <li><strong>Recurring Cycle:</strong> {{recurringTime}}</li>
            {{/if}}
          </ul>
        </div>
      </section>

    </div>
  {{/each}}
    {{else}}
    {{> Loader}}
  {{/if}}

</template>