.spinner-contain {
  position: absolute;
  top: 35vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  h5 {
    color: $primary-purple;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    position: relative;
  }
  img {
    margin-top: -60px;
  }
}