<template name="Dashboard">
  <h4>Dashboard</h4>

  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">View Customers</span>
          <p>View a list of all customers.</p>
        </div>
        <div class="card-action">
          <a href="/customer-list">View All Customers</a>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">View Orders</span>
          <p>View a list of all orders.</p>
        </div>
        <div class="card-action">
          <a href="/order-list">View All Orders</a>
        </div>
      </div>
    </div>
  </div>

</template>