<template name="FullWithHeader">
  {{> sAlert}}
  <main>
    {{> Header}}
    <div class="container">
      {{#if currentUser}}
        {{> Template.dynamic template=main}}
        {{else}}
        <div class="row">
          <div class="col s12">
            <h2>Not Authorized</h2>
            <p>Please click <a href="/">here</a> to sign in.</p>
          </div>
        </div>
      {{/if}}
    </div>
  </main>
</template>